@{
    ViewBag.Title = "Airport management system BY ABEL HAILE MAGICHO";
}
<div class="col-md-4">

   <h2>@Html.ActionLink(" Go to Airplanes   page", "Index", "Airplanes")</h2> 
    

</div>
<div class="jumbotron">
   
    @Html.Action("Index", "Airports")
   
</div>


  
